*{margin:0;padding:0;}
html, body{height:100%;background:##0e1015;overflow:hidden;}
body{font-size:1em;font-family:'Nanum Barun Gothic';color:#2d2929;-webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}
img{border:0;vertical-align:middle;}
ul,ol{list-style:none;}
table{border-collapse:collapse;}
button{border:0 none;cursor:pointer;}
em,address{font-style:normal;}
a{color:inherit;text-decoration:none;}
a:hover{color:#fff;}
hr{display:none;}

section{position:relative;width:100%;height:100%;overflow:hidden;}
.hidden{display:none;}
.blind{position:absolute;width:0;height:0;overflow:hidden;text-indent:-9999em;visibility:hidden;}
.container{position:relative;width:995px;margin:0 auto;}

#gtTeagerWrap{position:relative;min-width:995px;height:100%;}

.videoLayer{position:absolute;width:100%;height:100%;top:0;left:0;z-index:1000;visibility:visible;}
.videoLayer .videoArea{position:absolute;border:1px solid #857c44;backface-visibility:visible;transform-origin:50% 50% 0px;background:#000;top:100px;left:100px;z-index:20;}
.videoLayer .videoArea div{backface-visibility:visible;transform-origin:50% 50% 0px;}
.videoLayer .videoBg{position:fixed;background-color:rgba(0, 0, 0, 0.5);width:100%;height:100%;top:0;left:0;z-index:15;}
.videoLayer .closedBtn{position:absolute;display:inline-block;background:url(http://s.nx.com/s2/game/gt/teaser/b_mov_closed.png) no-repeat left top;width:99px;height:41px;top:-45px;right:0px;z-index:20;}

.noticeArea{position:fixed;width:100%;background:url(http://s.nx.com/s2/game/gt/teaser/k_notice_bg.png) repeat;height:55px;z-index:30;}
.noticeArea h2{float:left;color:#fff;font-size:1.2em;padding:17px 0 0 40px;}
.noticeArea a{display:block;}
.noticeArea .applyBtn{float:left;padding:15px 0 0 10px;}
.noticeArea .closed{float:right;padding:7px 10px 0 0;}

.introSection{position:relative;}
.introSection .skipBtn{position:fixed;display:inline-block;background:url(http://s.nx.com/s2/game/gt/teaser/b_skipintro.png) no-repeat left top;width:107px;height:39px;top:70px;right:50px;z-index:20;}
.introSection .line{position:absolute;top:0;left:50%;border-right:2px solid #867f4f;margin-left:17px;z-index:1;}
.introSection .kingSec{background:url(http://s.nx.com/s2/game/gt/teaser/k_intro_sec01.gif) no-repeat center top;height:1631px;}
.introSection .kingSec .logo{position:absolute;background:url(http://s.nx.com/s2/game/gt/teaser/k_logo.gif) no-repeat left top;width:235px;height:292px;padding-top:30px;top:303px;left:50%;margin-left:-117px;z-index:10;}
.introSection .historySec{height:3050px;z-index:10;}
.introSection .historySec .historyGame01{background:url(http://s.nx.com/s2/game/gt/teaser/k_history01.png) no-repeat center top;height:933px;}
.introSection .historySec .historyGame02{background:url(http://s.nx.com/s2/game/gt/teaser/k_history02.png) no-repeat center top;height:739px;}
.introSection .historySec .historyGame03{background:url(http://s.nx.com/s2/game/gt/teaser/k_history03.png) no-repeat center top;height:1378px;}
.introSection .movieSec{background:url(http://s.nx.com/s2/game/gt/teaser/k_intro_sec02.gif) no-repeat center -400px;height:2933px;}
.introSection .movieSec p{position:absolute;left:50%;font-size:52px;color:#867f4f;text-align:center;z-index:9;}
.introSection .movieSec .slogan01{padding-top:400px;height:440px;}
.introSection .movieSec .slogan01 .txt_bg01{background:url(http://s.nx.com/s2/game/gt/teaser/k_text_bg01.gif) no-repeat left top;width:522px;height:200px;margin-left:-240px;padding-top:18px;}
.introSection .movieSec .slogan02{padding-top:170px;height:417px}
.introSection .movieSec .slogan02 .txt_bg02{background:url(http://s.nx.com/s2/game/gt/teaser/k_text_bg02.gif) no-repeat left top;width:653px;height:73px;margin-left:-320px;padding-top:10px;}
.introSection .movieSec .movieArea{position:relative;background:url(http://s.nx.com/s2/game/gt/teaser/k_intro_sec03.gif) no-repeat center top;height:1106px;}
.introSection .movieSec .actionCon{position:relative;width:1020px;height:780px;margin:0 auto;}
.introSection .movieSec .actionCon div{position:absolute;}
.introSection .movieSec .actionCon .gtLogo{top:160px;left:380px;z-index:8;}
.introSection .movieSec .actionCon .girl{right:-20px;bottom:-60px;z-index:10;}
.introSection .movieSec .actionCon .bird{right:0px;bottom:270px;z-index:10;}
.introSection .movieSec .actionCon .sword{left:-70px;bottom:-90px;z-index:7;}
.introSection .movieSec .actionCon .mobile{left:190px;bottom:0;z-index:9;}

.gtTeagerHeader{position:fixed;width:100%;background:url(http://s.nx.com/s2/game/gt/teaser/k_navi_bg.png) repeat;height:84px;border-bottom:1px solid #989897;z-index:100;}
.gtTeagerHeader .subNavi{}
.gtTeagerHeader .subNavi .logo{float:left;width:110px;padding:15px 0 0 30px;}
.gtTeagerHeader .subNavi .scrollMenu{float:left;width:600px;}
.gtTeagerHeader .subNavi .scrollMenu li{}
.gtTeagerHeader .subNavi .scrollMenu li a{display:block;float:left;width:120px;height:85px;text-align:center;}
.gtTeagerHeader .subNavi .scrollMenu .mu01 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu01.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu02 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu02.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu03 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu03.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu04 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu04.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu05 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu05_v2.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu01 a.on,
.gtTeagerHeader .subNavi .scrollMenu .mu01 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu01_on.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu02 a.on,
.gtTeagerHeader .subNavi .scrollMenu .mu02 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu02_on.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu03 a.on,
.gtTeagerHeader .subNavi .scrollMenu .mu03 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu03_on.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu04 a.on,
.gtTeagerHeader .subNavi .scrollMenu .mu04 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu04_on.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .scrollMenu .mu05 a.on,
.gtTeagerHeader .subNavi .scrollMenu .mu05 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_menu05_v2_on.png) no-repeat center 32px;}
.gtTeagerHeader .subNavi .snsShare{float:right;width:180px;padding:19px 20px 0 0;}
.gtTeagerHeader .subNavi .snsShare li a{display:block;float:left;width:37px;height:37px;margin-right:10px;}
.gtTeagerHeader .subNavi .snsShare .sns01 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns01.png) no-repeat center center;}
.gtTeagerHeader .subNavi .snsShare .sns02 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns02.png) no-repeat center center;}
.gtTeagerHeader .subNavi .snsShare .sns03 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns03.png) no-repeat center center;}
.gtTeagerHeader .subNavi .snsShare .sns01 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns01_on.png) no-repeat center center;}
.gtTeagerHeader .subNavi .snsShare .sns02 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns02_on.png) no-repeat center center;}
.gtTeagerHeader .subNavi .snsShare .sns03 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns03_on.png) no-repeat center center;}

.gtTeagerSection{clear:both;background:#eaeaea url(http://s.nx.com/s2/game/gt/teaser/k_teaser_bg.jpg) repeat-y center top;}
.gtTeagerSection .home{background:url(http://s.nx.com/s2/game/gt/teaser/k_teaser_main.jpg) no-repeat center top;z-index:100;}
.gtTeagerSection .home .replayBtn{position:absolute;top:80px;right:0px;z-index:2;}
.gtTeagerSection .home .mainNavi{position:fixed;width:100%;background:url(http://s.nx.com/s2/game/gt/teaser/k_main_navi.gif) no-repeat center top;height:75px;bottom:0;z-index:20;}
.gtTeagerSection .home .mainNavi .fixMenu{float:left;width:625px;padding:0 75px;}
.gtTeagerSection .home .mainNavi .fixMenu li{}
.gtTeagerSection .home .mainNavi .fixMenu li a{display:block;float:left;width:125px;height:75px;text-align:center;}
.gtTeagerSection .home .mainNavi .fixMenu .mu01 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu01.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu02 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu02.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu03 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu03.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu04 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu04.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu05 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu05_v2.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu01 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu01_on.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu02 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu02_on.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu03 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu03_on.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu04 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu04_on.gif) no-repeat center 32px;}
.gtTeagerSection .home .mainNavi .fixMenu .mu05 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_menu05_v2_on.gif) no-repeat center 32px;}

.gtTeagerSection .home .mainNavi .fixMenu li a span{line-height:75px;color:#919191;font-weight:bold;}
.gtTeagerSection .home .mainNavi .fixMenu li a:hover{color:#fff;border-bottom:3px solid #fff;}
.gtTeagerSection .home .mainNavi .snsShare{float:right;width:200px;padding:19px 20px 0 0;}
.gtTeagerSection .home .mainNavi .snsShare li a{display:block;float:left;width:37px;height:37px;margin-right:10px;}
.gtTeagerSection .home .mainNavi .snsShare .sns01 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sns01.gif) no-repeat center center;}
.gtTeagerSection .home .mainNavi .snsShare .sns02 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sns02.gif) no-repeat center center;}
.gtTeagerSection .home .mainNavi .snsShare .sns03 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_sns03.gif) no-repeat center center;}
.gtTeagerSection .home .mainNavi .snsShare .sns01 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns01_on.png) no-repeat center center;}
.gtTeagerSection .home .mainNavi .snsShare .sns02 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns02_on.png) no-repeat center center;}
.gtTeagerSection .home .mainNavi .snsShare .sns03 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_sub_sns03_on.png) no-repeat center center;}

.gtTeagerSection .home .actionCon{position:relative;width:1020px;height:840px;margin:0 auto;padding-top:0px;}
.gtTeagerSection .home .actionCon div{position:absolute;}
.gtTeagerSection .home .actionCon .gtLogo{top:100px;left:380px;z-index:8;}
.gtTeagerSection .home .actionCon .scrollIco{top:410px;left:455px;z-index:8;}
.gtTeagerSection .home .actionCon .girl{right:10px;bottom:-60px;z-index:10;}
.gtTeagerSection .home .actionCon .bird{right:30px;bottom:270px;z-index:10;}
.gtTeagerSection .home .actionCon .sword{left:-40px;bottom:-90px;z-index:7;}
.gtTeagerSection .home .actionCon .mobile{left:260px;bottom:0;z-index:9;}
.gtTeagerSection .home .actionCon .mobile img{width:550px;}

.gtTeagerSection .world{background:url(http://s.nx.com/s2/game/gt/teaser/k_world.jpg) no-repeat center top;}
.gtTeagerSection .world .worldInner{padding:210px 0 0 50px;}
.gtTeagerSection .world .worldInner h2{font-size:54px;font-weight:bold;letter-spacing:-3px;padding-bottom:20px;}
.gtTeagerSection .world .worldInner h3{font-size:16px;font-weight:normal;color:#5a5555;padding-bottom:10px;letter-spacing:-1px;}
.gtTeagerSection .world .worldInner p{font-size:18px;text-decoration:underline;padding-bottom:10px;letter-spacing:-1px;}

.gtTeagerSection .features{}
.gtTeagerSection .features h2{font-size:57px;font-weight:bold;letter-spacing:-3px;}
.gtTeagerSection .features .modeVideo{position:absolute;background:url(http://s.nx.com/s2/game/gt/teaser/k_mobile_mov.png) no-repeat left top;width:697px;height:435px;top:480px;left:50%;margin-left:-450px;z-index:3;}
.gtTeagerSection .features .modeVideo .movArea{position:absolute;width:552px;height:317px;padding-left:2px;background:#000;border-radius:10px;top:16px;left:73px;overflow:hidden;}
.gtTeagerSection .features .modeVideo .movArea div{}
.gtTeagerSection .features .tacticsMode{position:absolute;background:url(http://s.nx.com/s2/game/gt/teaser/k_features_p01.gif) repeat;width:60%;height:100%;overflow:hidden;z-index:2;}
.gtTeagerSection .features .tacticsMode .modeText{position:fixed;width:240px;top:170px;left:50%;margin-left:-430px;z-index:10;}
.gtTeagerSection .features .tacticsMode .modeText h2{color:#3d4447;padding-top:10px;}
.gtTeagerSection .features .tacticsMode .modeText .ani_txt{width:260px;padding-top:15px;color:#464b4e;font-size:18px;letter-spacing:-1px;}
.gtTeagerSection .features .tacticsMode .mode_pic{}
.gtTeagerSection .features .tacticsMode .mode_pic .pic01{display:block;position:fixed;top:255px;right:40%;}
.gtTeagerSection .features .tacticsMode .mode_pic .pic02{display:block;position:fixed;top:255px;right:60%;}
.gtTeagerSection .features .tacticsMode .btn{padding-top:20px;}
.gtTeagerSection .features .tacticsMode .btn .movViewBtn{display:inline-block;background:url(http://s.nx.com/s2/game/gt/teaser/b_mode01.png) no-repeat;width:68px;height:68px;}
.gtTeagerSection .features .tacticsMode .btn .movViewBtn:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_mode01_on.png) no-repeat;}
.gtTeagerSection .features .feudatoryMode{position:absolute;background:url(http://s.nx.com/s2/game/gt/teaser/k_features_p02.gif) repeat;width:100%;height:100%;overflow:hidden;z-index:1;}
.gtTeagerSection .features .feudatoryMode .modeText{position:fixed;width:230px;top:170px;left:50%;margin-left:200px;text-align:right;z-index:10;}
.gtTeagerSection .features .feudatoryMode .modeText h2{color:#fff;padding-top:10px;}
.gtTeagerSection .features .feudatoryMode .modeText .ani_txt{padding-top:15px;color:#656d70;font-size:18px;letter-spacing:-1px;}
.gtTeagerSection .features .feudatoryMode .mode_pic{}
.gtTeagerSection .features .feudatoryMode .mode_pic .pic01{display:block;position:absolute;top:255px;left:50%;margin-left:-40px;}
.gtTeagerSection .features .feudatoryMode .mode_pic .pic02{display:block;position:absolute;top:285px;left:50%;margin-left:-250px;}

.gtTeagerSection .features .feudatoryMode .btn{padding-top:20px;}
.gtTeagerSection .features .feudatoryMode .btn .movViewBtn{display:inline-block;background:url(http://s.nx.com/s2/game/gt/teaser/b_mode02.png) no-repeat;width:68px;height:68px;}
.gtTeagerSection .features .feudatoryMode .btn .movViewBtn:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_mode02_on.png) no-repeat;}


.gtTeagerSection .general{background:url(http://s.nx.com/s2/game/gt/teaser/k_general.jpg) no-repeat center top;}
.gtTeagerSection .general .generalArea{width:995px;}
.gtTeagerSection .general .generalArea h2{position:absolute;background:url(http://s.nx.com/s2/game/gt/teaser/i_moonyang.png) no-repeat left center;padding-left:65px;font-size:57px;font-weight:normal;letter-spacing:-3px;color:#3e4043;top:210px;left:50px;z-index:1;}
.gtTeagerSection .general .generalArea p{position:absolute;width:260px;font-size:18px;letter-spacing:-1px;color:#545454;top:290px;left:50px;z-index:1;}
.gtTeagerSection .general .generalArea .illust{position:absolute;top:0;left:0;}
.gtTeagerSection .general .generalNavi{position:absolute;width:710px;top:530px;left:55px;}
.gtTeagerSection .general .generalNavi li{float:left;}
.gtTeagerSection .general .generalNavi li a{display:block;float:left;width:117px;height:274px;}
.gtTeagerSection .general .generalNavi .ge01 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_general01.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge02 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_general02.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge03 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_general03.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge04 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_general04.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge05 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_general05.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge06 a{background:url(http://s.nx.com/s2/game/gt/teaser/b_general06.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge01 a.on,
.gtTeagerSection .general .generalNavi .ge01 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_general01_on.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge02 a.on,
.gtTeagerSection .general .generalNavi .ge02 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_general02_on.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge03 a.on,
.gtTeagerSection .general .generalNavi .ge03 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_general03_on.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge04 a.on,
.gtTeagerSection .general .generalNavi .ge04 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_general04_on.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge05 a.on,
.gtTeagerSection .general .generalNavi .ge05 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_general05_on.png) no-repeat left top;}
.gtTeagerSection .general .generalNavi .ge06 a.on,
.gtTeagerSection .general .generalNavi .ge06 a:hover{background:url(http://s.nx.com/s2/game/gt/teaser/b_general06_on.png) no-repeat left top;}


.gtTeagerSection .community{background:#262626 url(http://s.nx.com/s2/game/gt/teaser/k_teaser_bg_v2.jpg) no-repeat center top;}
.gtTeagerSection .community .ing_title{position:absolute;top:123px;right:-10px;}
.gtTeagerSection .community .ing_title .downBtn{position:absolute;top:440px;left:0px;}
.gtTeagerSection .community .ing_title .cafeBtn{position:absolute;top:440px;left:330px;}
.gtTeagerSection .community .cbt_title{position:absolute;top:123px;right:10px;}
.gtTeagerSection .community .cbt_title .applyBtn{position:absolute;top:405px;left:0px;}
.gtTeagerSection .community .cbt_title .cafeBtn{position:absolute;top:485px;left:0px;}
.gtTeagerSection .community .copyright{padding-top:780px;text-align:center;}
